body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(https://media.istockphoto.com/photos/unique-design-abstract-digital-pixel-noise-glitch-error-video-damage-picture-id845869662?k=20&m=845869662&s=612x612&w=0&h=IlYELzW8Ptb0BU4ziUvOpwmkfqq1kD4tRZJjKh5nHEc=);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
}

.container {
    width: 18.75rem;
    height: 3.125rem;
    background: red;
    position: relative;
    margin-left: 25rem;
    animation: mymove 5s infinite;
    text-align: center;
    border-radius: 2.5rem;
}

h2 {
    padding-top: 0.625rem;
    font-size: 1.875rem;
    text-shadow: 0.063rem 0.125rem 0.125rem blueviolet;
}

@keyframes mymove {
    0% {
        top: 0px;
        left: 0px;
        background: red;
    }
    25% {
        top: 0px;
        left: 100px;
        background: blue;
    }
    50% {
        top: 100px;
        left: 100px;
        background: yellow;
    }
    75% {
        top: 100px;
        left: 0px;
        background: green;
    }
    100% {
        top: 0px;
        left: 0px;
        background: red;
    }
}

.main {
    height: 15.625rem;
    width: 18.75rem;
    background-color: rgba(240, 248, 255, 0.051);
    margin: 5rem 0 0 27.5rem;
    text-align: center;
    padding-top: 1.25rem;
}

p {
    font-size: 1.25rem;
    font-weight: bold;
}

#end-game-container {
    height: 15.625rem;
    width: 18.75rem;
    margin: 5rem 0 0 27.5rem;
    text-align: center;
    padding-top: 1.25rem;
}